# LLM API Keys
ANTHROPIC_API_KEY=

OPENAI_API_KEY=

GOOGLE_API_KEY=

XAI_API_KEY=

DEEPSEEK_API_KEY=


# PROMPTFOO CONFIGS ——————————————————————————————————————

# Don't send telemetry data to Promptfoo
PROMPTFOO_DISABLE_TELEMETRY=1

# Debug logging
# LOG_LEVEL=debug # I've found this one helpful
# DEBUG=promptfoo* promptfoo eval #haven't looked so much at this one